<div class="container m-auto mb-5">
  <div class="d-flex">
    <button
      class="btn btn-secondary mr-3"
      [routerLink]="['/load']"
      routerLinkActive="router-link-active"
    >
      Loading
    </button>
    <button
      class="btn btn-primary mr-3"
      [routerLink]="['/add']"
      routerLinkActive="router-link-active"
    >
      Adding
    </button>

    <button
      class="btn btn-success"
      [routerLink]="['/update']"
      routerLinkActive="router-link-active"
    >
      Updating
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
